.body {
  background-color: #0a1929;
}

.title {
  padding-top: 1%;
  padding-bottom: 2%;
  text-align: center;
  font-family: "Helvetica";
  font-size: xx-large;
  color: white;
}

.content {
  position: relative;
  left: 25%;
  width: 50%;
}

.card {
  background-color: rgb(0, 40, 60);
  position: relative;
  border-radius: 5%;
  padding-top: 1%;
  left: 30%;
  width: 40%;
  color: white;
}

.button:hover {
  background-color: cornflowerblue;
}

.button:active {
  background-color: cornflowerblue;
  transform: translateY(4px);
}

.icon {
  vertical-align: middle;
  color: #1976d2;
}
